.are_container {
    width: 100%;
    margin:50px 0px 0px 0px;
    height: auto;
overflow: hidden;
    background-color: rgb(243, 241, 241);
  
    z-index: 2;
    /* position: relative; */
  }
  
  .mer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .mg {
    width: 90%;
    border-radius: 50px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .fg {
    width: 90%;
    border-radius: 50px;
    border-top-left-radius: 0;
  
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .mobile {
    display: none;
  }
  
  .are_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
  
  .are_sub {
    height: 100vh;
    position: relative;
    transform: rotate(0deg);
  }
  .are_sub img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-position: center; */
  }
  
  .are_sub:nth-child(4) {
    /* transform: rotate(-1deg); */
  }
  
  .dus {
  }
  .bus {
    /* transform: rotate(-1deg); */
  }
  
  .are_detail {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 140px;
  }
  
  .detail_title {
    font-size: 25px;
    font-weight: bold;
    font-family: "poppins", sans-serif;
    color: #000;
  
    text-transform: uppercase;
  }
  
  .detail_bottom_detail {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    font-family: "poppins", sans-serif;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: width 2s;
    color: #000;
    cursor: pointer;
  }
  
  .arrower {
    transition: width 0.9s;
    width: 30px;
    height: 1px;
    background-color: #333 !important;
  }
  
  .detail_bottom_detail:hover .arrower {
    width: 80px;
  }
  
  .detail_para {
    text-align: justify;
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
  
  .detail_para::first-letter {
    font-size: 30px;
    color: #333;
  }
  
  .second_image {
    padding: 100px 350px;
    transform: rotate(0deg);
  }
  
  .triple::after {
    content: "";
    display: none;
    top: 0;
    height: 100%;
    width: 20%;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .triple {
    width: 100%;
    position: relative;
    height: 100%;
  }
  
  @media screen and (max-width: 1050px) {
    .are_sub {
      height: 80vh;
    }
  
    .are_detail {
      padding: 100px;
    }
    .second_image {
      padding: 100px;
    }
  }
  @media screen and (max-width: 918px) {
    .are_sub {
      height: 70vh;
    }
  
    .are_detail {
      padding: 50px;
    }
  }
  
  @media screen and (max-width: 758px) {
    .web {
      display: none;
    }
    .are_detail {
      padding: 20px;
    }
    .mobile {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  
    .are_sub:nth-child(2) {
      height: 50vh;
    }
    .are_sub:nth-child(4) {
      height: 50vh;
    }
    .bus,
    .dus {
      border-radius: 0;
    }
    .are_grid {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  
    .second_image {
      padding: 0;
      margin: 20px 0;
    }
  
    .dema {
      padding: 20px;
    }
  
    .triple {
      margin-bottom: 30px;
    }
  }
  
  @media screen and (max-width: 500px) {
    .are_sub:nth-child(2) {
      height: 70vh;
    }
    .are_sub:nth-child(4) {
      height: 70vh;
    }
  }
  
  @media screen and (max-width: 300px) {
    .are_sub:nth-child(2) {
      height: 90vh;
    }
    .are_sub:nth-child(4) {
      height: 90vh;
    }
  }
  