.about_container {
  padding: 20px;
}
.about_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
}

.about_sub {
  border: 1px solid #f0f0f0;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding: 20px;
}
.about_sub img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.img_title {
  font-size: 22px;
  text-align: center;
  font-family: "poppins", sans-serif;
  color: #333;
}
.img_parar {
  font-size: 17px;
  line-height: 1.9;
  color: #333;
  opacity: 70%;
}

@media screen and (max-width: 1200px) {
  .about_grid {
    display: flex;
    flex-direction: column;
  }
  .about_sub{
    padding: 10px;
  }
  .about_sub img {
    height: 60vh;
  }
  .about_container {
    padding: 10px;
  }
}
